.sec4
{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Sniglet', cursive;
}
.form
{
    color: #fff
}
.form h1
{
    font-size: 300%;
}
.main
{
    position: relative;
    top: 20%;
}
.form-control
{
    width: 50%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: #fff;
    font-size: 100%;
    margin-bottom: 3%;
}
input
{
    height: 150%;

}
form .submit
{
    background-color: #ff5722;
    border-color: transparent;
    color: #fff;
    font-size: 120%;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 3%;
    transition: 0.4s ease;
}

form .submit:hover
{
    background-color: #f44336;
    cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }