@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Roboto');
.center
{
    float: left;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-10%);
}
.info{
   position: relative;
   width: 900px;
   top: 30%;
   left: 20%;
   font-family: 'Gloria Hallelujah', cursive;
}

.container
{
    position: relative;
    width: 240px;
    height: 300px;
    background:rgba(255, 255, 255, 0.1);
    overflow: hidden; 
}
.container:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 170%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .2);
    z-index: 1;
    transform: skewX(45deg);
    transition: .8s;
}
.container:hover:before
{
    transition-delay: 1s;
    left: -170%;
}
.container img
{
    width: 100%;
    filter: grayscale(100%);
    transition: 2s;
}
.container:hover img
{
    filter: grayscale(0%);
    transform: scale(1.2);
}
.container h2
{
    position: absolute;
    bottom: 0;
    margin: 0;
    font-size: 18px;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    background:rgba(255, 255, 255, 0.8);
    transform-origin: bottom;
    transition: .5s;
    transform:perspective(500px) rotateX(90deg);
}
.container:hover h2
{
    transform:perspective(500px) rotateX(0deg);
}
.links
{
    margin: 0;
    padding:0;
    position: absolute;
    top: 0;
    left: 0;
}
.links li
{
    list-style: none;
    background: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    transform-origin: left;
    transition: .5s;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    transform: perspective(1000px) rotateY(90deg);
}
.links li .fab
{
    color: #262626;
}
.container:hover .links li
{
    transform: perspective(1000px) rotateY(0deg);
}
.container:hover .links li:nth-child(1)
{
   transition-delay: .5s;
}
.container:hover .links li:nth-child(2)
{
    transition-delay: .8s;
}
.container:hover .links li:nth-child(3)
{
    transition-delay: 1.1s;
}
.contentsecond{
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 30px;
}
.contentsecond p
{
    margin: 0;
}
#sec3{
    position: absolute;
    top: 240%;
}
#info_content{
    position: absolute;
    top: 80%;
}
