@import url('https://fonts.googleapis.com/css?family=Sniglet');
.second_project .slider{
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    width: 50%;
    height: 0%;
    padding-bottom: 30%;
    background: #4c4c4c;
    border: solid 10px rgb(159, 119, 210);
    display: inline-block;
}
.second_project .slide_img_hello
{
    position: absolute;
    width : 100%;
    height: 100%;
}
.second_project .slide_img_hello img
{
    width: 100%;
    height: 100%;
}
.second_project #i5,#i6,#i7,#i8
{
    display: none;
}
.second_project .pre, .nxt
{
    width: 12%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(195, 109, 131, .3);
    z-index: 1;
    cursor: pointer;
}
.second_project .pre
{
    left: 0;
}
.second_project .nxt
{
    right: 0;
}
.second_project .nav
{
    width: 100%;
    height: 11px;
    bottom: 12%;
    position: absolute;
    text-align: center;
    z-index: 50;
}
.second_project .dots
{
    top: -5px;
    width: 18px;
    height: 18px;
    margin: 0 4px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: rgba(195, 109, 131, .6);

}
.second_project .slide_img_hello
{
    z-index: -1;
}
.second_project #i5:checked ~ #five,
#i6:checked ~ #six,
#i7:checked ~ #seven,
#i8:checked ~ #eight{
    z-index: 9;
}
.second_project #i5:checked ~ .nav #dot5,
#i6:checked ~ .nav #dot6,
#i7:checked ~ .nav #dot7,
#i8:checked ~ .nav #dot8
{
    background:rgba(250, 170, 100, .6);
}
.second_project .info_1
{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-top: 5%;
    font-family: 'Sniglet', cursive;
    font-size: 20px;
}
.second_project .info_1 span:nth-child(1)
{
    color: yellow;
}
.second_project .info_1 span:nth-child(2)
{
    color: rgb(230, 83, 45);
}