section.sec2
{
    width: 100%;
    height: 100vh;
    background: url("../images/second.jpeg");
    background-size: cover;
}
.cloud
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:url("../images/cloud.png");
    animation: animate 60s linear infinite;
    background-size: cover;
}
@keyframes animate
{
   0%
   {
       background-position: 0px;
   }   
   100%
   {
       background-position: 5440px;
   }
}