@import url('https://fonts.googleapis.com/css?family=Sniglet');
.first_project .slider{
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    width: 50%;
    height: 0%;
    padding-bottom: 30%;
    background: #4c4c4c;
    border: solid 10px rgb(159, 119, 210);
    display: inline-block;
}
.first_project .slide_img
{
    position: absolute;
    width : 100%;
    height: 100%;
}
.first_project .slide_img img
{
    width: 100%;
    height: 100%;
}
.first_project #i1,#i2,#i3,#i4
{
    display: none;
}
.first_project .pre, .nxt
{
    width: 12%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(195, 109, 131, .3);
    z-index: 1;
    cursor: pointer;
}
.first_project .pre
{
    left: 0;
}
.first_project .nxt
{
    right: 0;
}
.first_project .nav
{
    width: 100%;
    height: 11px;
    bottom: 12%;
    position: absolute;
    text-align: center;
    z-index: 50;
}
.first_project .dots
{
    top: -5px;
    width: 18px;
    height: 18px;
    margin: 0 4px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: rgba(195, 109, 131, .6);

}
.first_project .slide_img
{
    z-index: -1;
}
.first_project #i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four{
    z-index: 9;
}
.first_project #i1:checked ~ .nav #dot1,
#i2:checked ~ .nav #dot2,
#i3:checked ~ .nav #dot3,
#i4:checked ~ .nav #dot4
{
    background:rgba(250, 170, 100, .6);
}
.first_project .info_1
{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-top: 5%;
    font-family: 'Sniglet', cursive;
    font-size: 20px;
}
.first_project .info_1 span:nth-child(1)
{
    color: yellow;
}
.first_project .info_1 span:nth-child(2)
{
    color: rgb(230, 83, 45);
}