html
{
    scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
body{
    margin: 0;
    padding: 0;
    font-family: 'Sniglet', cursive;
    background: #ffff;
    word-spacing: 5px;


}    
header
{
    position: sticky;
    max-width: 1200px;
    margin: 20px auto;
    top: 0;
    z-index: 120;
    padding: 10px;
    background: white;
    box-sizing: border-box;
    border-radius: 4px;
    transition: 0.5s;

}
.black
{
    background:  rgba(0, 145, 207 , 1);
}
nav
{
   float: right;
}
nav ul
{
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li
{
    list-style: none;
}
nav ul li a
{

    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
}
nav ul li a:hover
{
    background: #fd4445;
    color: #fff;
    transition:0.5s;
}
.clearfix
{
    clear: both;
}
@media (max-width:1200px)
{
    header
    {
        margin : 20px;
    }
}
@media (max-width:500px)
{
    .menu-toggle
    {
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align:center;
        font-size: 30px;
        color: #fd4445;
    }
    .menu-toggle:before
    {
        content: '\f0c9';
        font-family:  fontAwesome;
        line-height: 40px;
    }
    .menu-toggle.active:before
    {
        content: '\f00d';
    }
    nav
    {
        display: none;
    }
    nav.active
    {
        display: block;
        width: 100%;
    }
    nav.active ul 
    {
        display: block;
    }
    nav.active ul li a
    {
        margin: 0;
    }
}

section.sec4
{
    width: 100%;
    height: 100vh;
    background: url("../images/night.jpg");
    background-size: cover;
}
.content
{
    padding: 100px;
    font-size: 1.1em;
}
.button {
    margin-bottom: 20px;
    width: 140px;
    height: 45px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    border: none;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .button:hover {
    background-color: #fd4445;
    box-shadow: 0px 15px 20px rgba(253, 68, 69, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }


