html
{
    scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.black
{
    background: rgba(0, 0, 0, .8);
    height: 80px;
    padding: 10px 400px;
}
nav
{
    position: fixed;
    top : 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .5s;
    z-index: 99;
}
nav .logo
{
    float: left;
}
nav .logo img
{
    height: 80px;
    transition: .5s;
}
nav ul 
{
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li 
{
    list-style: none;
}

nav ul li a
{
    line-height: 80px;
    color:  #fff;
    padding : 5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    font-family: 'Roboto', sans-serif;
}
nav.black ul li a
{
    color:#fff;
    line-height: 60px;
}

nav ul li a:hover
{
    color: #fff;
    background: #f00;
}
section.sec4
{
    width: 100%;
    height: 100vh;
    background: url("../images/first.jpg");
    background-size: cover;
}
.content
{
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 100px;
    font-size: 1.1em;
}
.button {
    margin-bottom: 20px;
    width: 140px;
    height: 45px;
    font-family: 'Sniglet', cursive;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: rgb(222, 217, 232);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .button:hover {
    background-color: #6A82FB;
    box-shadow: 0px 15px 20px rgba(149, 113, 212, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
