@model Mail
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <link rel="stylesheet" href="~/css/style.css"/>
        <link rel="stylesheet" href="~/css/my.css"/>
        <link rel="stylesheet" href="~/css/secfirst.css"/>
         <link rel="stylesheet" href="~/css/contact.css"/>
        <link rel="stylesheet" href="~/css/secthird.css"/>
        <link rel="stylesheet" href="~/css/slide.css"/>
        <link rel="stylesheet" href="~/css/secondslide.css"/>
        <link rel="stylesheet" href="~/css/thirdslide.css"/>
        <link rel="stylesheet" href="~/css/secsecond.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" 
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="~/js/jquery.waypoints.min.js"></script>
        <script src="~/js/index.js"></script>
    </head>
    <body>
        <nav>
           
            <ul>
                <li><a href="#sec1" class="active">Home</a></li>
                <li><a href="#info_content" id="about">About</a></li>
                <li><a href="#portfolio_content" class="portfolio">Portfolio</a></li>
                <li><a href="#sec3" class="technology">Technology</a></li>
                <li><a href="#" class="contact">Contact</a></li>
            </ul>
        </nav>
        <section id="sec1" class="sec1">
             <div class="img">

            </div>
            <div class="text">
                <p>Yehor Melnyk</p>
            </div>
        </section>
        <section class="content">
            <div class="center">
                <div class="container">
                    <img class="me" src="~/images/Yehor.jpg">
                    <h2>Yehor Melnyk</h2>
                    <ul class="links">
                        <li><a href="https://github.com/Yehorchik"><i class="fab fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/yehor-melnyk-139930137/"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="https://www.facebook.com/profile.php?id=100010137630221"><i class="fab fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="info">
                <p class="anim-typewriter"> 
                    Hello , I am Full Stack Web Developer .Games helped me to understand that in life I want to do 
                    programming.Create new things from scratch and enjoy each moment of it...Hack yeah ,I love this)
                    I'm always looking for opportunities to work on the next big thing. If you have an idea and 
                    just need someone to make it work, get in touch with me. 
                    I like to keep myself busy, and I like to keep the pace fast.
                </p>
            </div>
        </section>
        <section class="sec2">
            <div class="cloud">

            </div>
        </section>
        <hr id="info_content">
        <hr id="sec3">
        <hr id="portfolio_content">
        <section  class="contentsecond">
            <p> Here some of my Skills </p>
            <input type="submit" class="button" value="Click to see">
        </section>
        <section  class="sec3">
            <div class="skill-card">
                <header class="skill-card__header"><img class="skill-card__icon" src="https://upload.wikimedia.org/wikipedia/commons/3/38/HTML5_Badge.svg" alt="HTML5 Logo"/></header>
                <section class="skill-card__body">
                <h2 class="skill-card__title">html</h2><span class="skill-card__duration">Advance</span>
                <ul class="skill-card__knowledge">
                    <li>HTML is a markup language used for structuring 
                            and presenting content on the web.</li>
                </ul>
                </section>
            </div>
            <div class="skill-card">
                <header class="skill-card__header"><img class="skill-card__icon" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/badge-css-3-512.png" alt="CSSLogo"/></header>
                    <section class="skill-card__body">
                    <h2 class="skill-card__title">CSS</h2><span class="skill-card__duration">Advance</span>
                    <ul class="skill-card__knowledge">
                        <li>Cascading Style Sheets.It's help to control the look
                            and feel of web documents.
                        </li>
                    </ul>
                </section>
            </div>
            <div class="skill-card">
                    <header class="skill-card__header"><img class="skill-card__icon" src="http://pluspng.com/img-png/logo-javascript-png-javascript-tutorials-400.png" alt="JsLogo"/></header>
                        <section class="skill-card__body">
                        <h2 class="skill-card__title">JS</h2><span class="skill-card__duration">Intermediate</span>
                        <ul class="skill-card__knowledge">
                            <li>Language to add interactivity to webpages,process data , create various applications.
                            </li>
                        </ul>
                    </section>
            </div>
            <div class="skill-card">
                    <header class="skill-card__header"><img class="skill-card__icon" src="http://www.knwd.ue.wroc.pl/img/tools/angular-icon.svg" alt="Angular Logo"/></header>
                        <section class="skill-card__body">
                        <h2 class="skill-card__title">Angular</h2><span class="skill-card__duration">Intermediate</span>
                        <ul class="skill-card__knowledge">
                            <li>Angular is a TypeScript-based open-source front-end web 
                                application platform.
                            </li>
                        </ul>
                    </section>
            </div>
     
            <div class="skill-card">
                    <header class="skill-card__header"><img class="skill-card__icon" src="https://cdn.iconscout.com/icon/free/png-256/jquery-7-1175152.png" alt="Jquery Logo"/></header>
                        <section class="skill-card__body">
                        <h2 class="skill-card__title">Jquery</h2><span class="skill-card__duration">Intermediate</span>
                        <ul class="skill-card__knowledge">
                            <li>jQuery is a cross-platform JavaScript library 
                                designed to simplify the client-side scripting of HTML.
                            </li>
                        </ul>
                    </section>
            </div>
            <div class="skill-card">
                    <header class="skill-card__header"><img class="skill-card__icon" src="https://sass-lang.com/assets/img/logos/logo-b6e1ef6e.svg" alt="Sass Logo"/></header>
                        <section class="skill-card__body">
                        <h2 class="skill-card__title">Sass</h2><span class="skill-card__duration">Elementary</span>
                        <ul class="skill-card__knowledge">
                            <li>Syntactically Awesome Style Sheets - preprocessor 
                                ,language which interpreted or compiled into CSS .
                            </li>
                        </ul>
                    </section>
            </div>
            <div class="skill-card">
                    <header class="skill-card__header"><img id="flask" class="skill-card__icon" src="https://cdn0.froala.com/assets/editor/docs/server/meta-social/flask-e3bf97f0f7552b62b3996c0131fb9be1.png" alt="Flask Logo"/></header>
                        <section class="skill-card__body">
                        <h2 class="skill-card__title">Flask</h2><span class="skill-card__duration">Elementary</span>
                        <ul class="skill-card__knowledge">
                            <li>Python's
                                that provides tremendous freedom in the layout and structure of a web-server.
                            </li>
                        </ul>
                    </section>
            </div>
            <div class="skill-card">
                    <header class="skill-card__header"><img id="flask" class="skill-card__icon" src="https://png.pngtree.com/svg/20170717/b3806e7e9e.svg" alt="DjangoLogo"/></header>
                        <section class="skill-card__body">
                        <h2 class="skill-card__title">Django</h2><span class="skill-card__duration">Intermediate</span>
                        <ul class="skill-card__knowledge">
                            <li>Django is Python Web framework 
                                that encourages rapid development and clean, pragmatic design.
                            </li>
                        </ul>
                    </section>
            </div>
            <div class="skill-card">
                    <header class="skill-card__header"><img  class="skill-card__icon" src="https://dumielauxepices.net/sites/default/files/python-logo-clipart-tail-730865-9099733.png" alt="Python Logo"/></header>
                        <section class="skill-card__body">
                        <h2 class="skill-card__title">Python</h2><span class="skill-card__duration">Intermediate</span>
                        <ul class="skill-card__knowledge">
                            <li>Python is an interpreted high-level programming language 
                                for general-purpose programming.
                            </li>
                        </ul>
                    </section>
            </div>
            <div class="skill-card">
                    <header class="skill-card__header"><img id="net" class="skill-card__icon" src="http://www.mukeshkumar.net/Upload/ArticleHeader/Header/aspnet-core.png" alt=".net Logo"/></header>
                        <section class="skill-card__body">
                        <h2 class="skill-card__title">.Net</h2><span class="skill-card__duration">Intermediate</span>
                        <ul class="skill-card__knowledge">
                            <li>ASP.NET Core is  web framework, 
                                and the next generation of ASP.NET, developed by Microsoft.
                            </li>
                        </ul>
                    </section>
            </div>
            <div class="skill-card">
                    <header class="skill-card__header"><img class="skill-card__icon" src="https://camo.githubusercontent.com/0617f4657fef12e8d16db45b8d73def73144b09f/68747470733a2f2f646576656c6f7065722e6665646f726170726f6a6563742e6f72672f7374617469632f6c6f676f2f6373686172702e706e67" alt="C# Logo"/></header>
                        <section class="skill-card__body">
                        <h2 class="skill-card__title">C#</h2><span class="skill-card__duration">Intermediate</span>
                        <ul class="skill-card__knowledge">
                            <li>C# is an elegant oop language with strong disciplines.
                            </li>
                        </ul>
                    </section>
            </div>
            <div class="skill-card">
                    <header class="skill-card__header"><img id="node" class="skill-card__icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Node.js_logo_2015.svg/1280px-Node.js_logo_2015.svg.png" alt="C# Logo"/></header>
                        <section class="skill-card__body">
                        <h2 class="skill-card__title">Node JS</h2><span class="skill-card__duration">Intermediate</span>
                        <ul class="skill-card__knowledge">
                            <li>Node.js is an open-source  environment that executes JavaScript code outside the browser.
                            </li>
                        </ul>
                    </section>
            </div>
            <div class="skill-card">
                    <header class="skill-card__header"><img id="express" class="skill-card__icon" src="https://www.atatus.com/images/devicon/icon-express.svg" alt="Express Logo"/></header>
                        <section class="skill-card__body">
                        <h2 class="skill-card__title">Express JS</h2><span class="skill-card__duration">Intermediate</span>
                        <ul class="skill-card__knowledge">
                            <li> Web application framework for Node.js designed for building web applications and APIs.
                            </li>
                        </ul>
                    </section>
            </div>
            <div class="skill-card">
                    <header class="skill-card__header"><img id="express" class="skill-card__icon" src="https://cdn.freebiesupply.com/logos/large/2x/mysql-logo-png-transparent.png" alt="MYSQL Logo"/></header>
                        <section class="skill-card__body">
                        <h2 class="skill-card__title">MySQL</h2><span class="skill-card__duration">Intermediate</span>
                        <ul class="skill-card__knowledge">
                            <li>MySQL is an open-source relational database management system.
                            </li>
                        </ul>
                    </section>
            </div>
            <div class="skill-card">
                    <header class="skill-card__header"><img  class="skill-card__icon" src="https://cdn-images-1.medium.com/max/449/1*NRCOyVBY6Jiqr4Q9A1zoaQ.png" alt="MongoDB Logo"/></header>
                        <section class="skill-card__body">
                        <h2 class="skill-card__title">MongoDB</h2><span class="skill-card__duration">Intermediate</span>
                        <ul class="skill-card__knowledge">
                            <li>MongoDB is a free and open-source cross-platform document-oriented database program. 
                            </li>
                        </ul>
                    </section>
            </div>
            <div class="skill-card">
                    <header class="skill-card__header"><img id="express" class="skill-card__icon" src="https://github.githubassets.com/images/modules/logos_page/Octocat.png" alt="GitHubLogo"/></header>
                        <section class="skill-card__body">
                        <h2 class="skill-card__title">GitHub</h2><span class="skill-card__duration">Intermediate</span>
                        <ul class="skill-card__knowledge">
                            <li>GitHub is a web-based hosting service for version control using Git. 
                            </li>
                        </ul>
                    </section>
            </div>
        </section>
        <section class="contentthird">
           <p class="thirty_pixels">Some of My Work</p>
            <div class="first_project">
                <div class="slider">
                    <input type="radio" name="images" id="i1" checked>
                    <input type="radio" name="images" id="i2">
                    <input type="radio" name="images" id="i3">
                    <input type="radio" name="images" id="i4">
                        <div class="slide_img" id="one">
                        <img src="~/images/chatboxfirst.png"> 
                        <label for="i3" class="pre"></label>
                        <label for="i2" class="nxt"></label>
                        </div>
                        <div class="slide_img" id="two">
                            <img src="~/images/chatboxsecond.png" >
                            <label for="i1" class="pre"></label>
                            <label for="i3" class="nxt"></label> 
                        </div>
                        <div class="slide_img" id="three">
                            <img src="~/images/chatboxthird.png" > 
                            <label for="i2" class="pre"></label>
                            <label for="i4" class="nxt"></label>
                        </div>
                        <div class="slide_img" id="four">
                            <img src="~/images/chatboxfours.png" > 
                            <label for="i3" class="pre"></label>
                            <label for="i1" class="nxt"></label>
                        </div>
                        <div class="nav">

                            <label class="dots" id="dot1" for="i1"></label>
                            <label class="dots" id="dot2" for="i2"></label>
                            <label class="dots" id="dot3" for="i3"></label>
                            <label class="dots" id="dot4" for="i4"></label>
                        </div>
                </div>
                <div class="info_1">
                    <p><span>Chatbox</span> my small social network allows you to add or delete people from your friends list and chat with them, 
                    view and delete incoming messages and find out the exact number of received messages.</p>
                    <span>Technologies used: Python/ Django / SQLite /Ajax / JQUERY/ CSS</span>
                    <br>
                    <a href="https://github.com/Yehorchik/chatbox">View Source Code</a>
                </div>
            </div>
            <div class="second_project">
                 <div class="info_1">
                    <p><span>Block Breaker</span> video game with the object of the game being for 
                    the player to break as many blocks as they can without causing the ball to fall. 
                    The player will progress through a map which shows 2 locations that contain blocks.</p>
                    <span>Technologies used: C# , Unity</span>
                    <br>
                    <a href="https://github.com/Yehorchik/Block-Breaker-Game">View Source Code</a>
                </div>
                <div class="slider">
                    <input type="radio" name="images_2" id="i5" checked>
                    <input type="radio" name="images_2" id="i6">
                    <input type="radio" name="images_2" id="i7">
                    <input type="radio" name="images_2" id="i8">
                        <div class="slide_img_hello" id="five">
                        <img src="~/images/block1.png"> 
                        <label for="i8" class="pre"></label>
                        <label for="i6" class="nxt"></label>
                        </div>
                        <div class="slide_img_hello" id="six">
                            <img src="~/images/block2.png" >
                            <label for="i5" class="pre"></label>
                            <label for="i7" class="nxt"></label> 
                        </div>
                        <div class="slide_img_hello" id="seven">
                            <img src="~/images/block3.png" > 
                            <label for="i6" class="pre"></label>
                            <label for="i8" class="nxt"></label>
                        </div>
                        <div class="slide_img_hello" id="eight">
                            <img src="~/images/block4.png" > 
                            <label for="i7" class="pre"></label>
                            <label for="i5" class="nxt"></label>
                        </div>
                        <div class="nav">

                            <label class="dots" id="dot5" for="i5"></label>
                            <label class="dots" id="dot6" for="i6"></label>
                            <label class="dots" id="dot7" for="i7"></label>
                            <label class="dots" id="dot8" for="i8"></label>
                        </div>
                </div>
            </div>
            <div class="third_project">
                <div class="slider">
                    <input type="radio" name="images_3" id="i9" checked>
                    <input type="radio" name="images_3" id="i10">
                    <input type="radio" name="images_3" id="i11">
                    <input type="radio" name="images_3" id="i12">
                        <div class="slide_img_third" id="nine">
                        <img src="~/images/orphan1.png"> 
                        <label for="i12" class="pre"></label>
                        <label for="i10" class="nxt"></label>
                        </div>
                        <div class="slide_img_third" id="ten">
                            <img src="~/images/orphan2.png" >
                            <label for="i9" class="pre"></label>
                            <label for="i11" class="nxt"></label> 
                        </div>
                        <div class="slide_img_third" id="eleven">
                            <img src="~/images/orphan3.png" > 
                            <label for="i10" class="pre"></label>
                            <label for="i12" class="nxt"></label>
                        </div>
                        <div class="slide_img_third" id="twelve">
                            <img src="~/images/orphan4.png" > 
                            <label for="i11" class="pre"></label>
                            <label for="i9" class="nxt"></label>
                        </div>
                        <div class="nav">

                            <label class="dots" id="dot9" for="i9"></label>
                            <label class="dots" id="dot10" for="i10"></label>
                            <label class="dots" id="dot11" for="i11"></label>
                            <label class="dots" id="dot12" for="i12"></label>
                        </div>
                </div>
                <div class="info_1">
                    <p><span>Young Line</span> Working like a team with my partner we able to create a website that helps to 
                    improve lives of orphans children, where people can donate money, leave feedbacks if they want, also 
                    view other people's feedbacks and like them . 
                    We used the weather api in this site, where people can search the weather from all over the world.</p>
                    <span>Technologies used: ANGULAR 5 / NODE.JS / EXPRESS / TYPESCRIPT / MONGOOSE / MONGODB /CSS /JSON</span>
                    <br>
                    <a href="https://github.com/Yehorchik/orphan">View Source Code</a>
                </div>
            </div>
        </section>
        <section class="sec4">
            <div class="main">
                <div class="form">
                    <h1>Contact Me</h1>
                </div>
                <div class="box">
                    <form action="/sendMail" method = "POST">
                        <span asp-validation-for="Name"></span>
                        <input type="text" name="name" class="form-control" placeholder="Enter your Name" asp-for="Name"><br>
                        <span asp-validation-for="Email"></span>
                        <input type="email" name="email" class="form-control" placeholder="Enter your Email" asp-for="Email"><br>
                        <span asp-validation-for="Message"></span>
                        <textarea name="message" class="form-control" placeholder="Message" rows="4" asp-for="Message"></textarea><br>
                        <input type="submit" name="" class="form-control submit"  value="Send Message" >
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>