<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <link rel="stylesheet" href="~/css/style.css"/>
        <link rel="stylesheet" href="~/css/my.css"/>
        <link rel="stylesheet" href="~/css/secfirst.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" 
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="~/js/jquery.waypoints.min.js"></script>
        <script src="~/js/index.js"></script>
    </head>
    <body>
        <nav>
           
            <ul>
                <li><a href="#sec1" class="active">Home</a></li>
                <li><a href="#info_content" id="about">About</a></li>
                <li><a href="#" class="portfolio">Portfolio</a></li>
                <li><a href="#" class="technology">Technology</a></li>
                <li><a href="#" class="contact">Contact</a></li>
            </ul>
        </nav>
        <section id="sec1" class="sec1">
             <div class="img">

            </div>
            <div class="text">
                <p>Yehor Melnyk</p>
            </div>
        </section>
        <section id="info_content" class="content">
            <div class="center">
                <div class="container">
                    <img class="me" src="~/images/Yehor.jpg">
                    <h2>Yehor Melnyk</h2>
                    <ul class="links">
                        <li><a href="https://github.com/Yehorchik"><i class="fab fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/yehor-melnyk-139930137/"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="https://www.facebook.com/profile.php?id=100010137630221"><i class="fab fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="info">
                <p class="anim-typewriter"> 
                    Hello , I am Full Stack Web Developer .Games helped me to understand that in life I want to do 
                    programming.Create new things from scratch and enjoy each moment of it...Hack yeah ,I love this)
                    I'm always looking for opportunities to work on the next big thing. If you have an idea and 
                    just need someone to make it work, get in touch with me. 
                    I like to keep myself busy, and I like to keep the pace fast.
                </p>
            </div>
        </section>
        <section class="sec2"></section>
        <section class="contentsecond">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
            nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse 
            cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
            officia deserunt mollit anim id est laborum.</p>
        </section>
        <section class="sec3"></section>
        <section class="contentthird">
            <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
            nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse 
            cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
            officia deserunt mollit anim id est laborum."</p>
        </section>
        <section class="sec4"></section>
    </body>
</html>